@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: 'Open Sans Condensed', sans-serif;
}

header{
  background-color: white;
}
nav li{
  display: inline;
}
.button li{
  width: 200px;
}
.button a{
  width: 200px;
  background-color: #e34445;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.button a:hover, .button a.active{
  background-color: #f69a72;
  color: #fff;
}
.herobutton a{
  width: 200px;
  background-color: white;
  color: #e34445;
  border-radius: 10px;
  text-decoration: none;
}
.herobutton a:hover{
  background-color: white;
  color: #a1ae56;
}
.hero{
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background: url(http://placehold.it/1010x1157) no-repeat center top / cover;
  padding-top: 220%;
  background-color: darkgrey;
}
.hero-content{
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: center;
}
.hero2{
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background: url(http://placehold.it/1010x445/e34445) no-repeat center top / cover;
  padding-top: 80%;
  background-color: darkgrey;
}
.hero-content2{
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: left;
}
main{
  background-color: #e6e6e6;
}

footer{
  color: white;
  background-color: #432a2a;
}

@media only screen and (min-width: 18em){
  .hero{
    padding-top: 157%;
  }
  .hero2{
    padding-top: 80%;
  }
}
@media only screen and (min-width: 24em){
  .hero{
    padding-top: 98%;
  }
  .hero2{
    padding-top: 50%;
  }
}
@media only screen and (min-width: 32em){
  nav li{
    display: inline-block;}

    .hero{
      padding-top: 100%;
    }
}
@media only screen and (min-width: 46em){
  .hero{
    padding-top: 150%;
  }
}
@media only screen and (min-width: 62em){
  .hero{
    padding-top: 72%;
  }
}
